<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <title><%= hero._id %> </title>
</head>
<body>
  <h1>Hero</h1>
  <h2>Name: <%= hero.name %> </h2>
  <h3>Release Date: <%= hero.release.toLocaleDateString() %> </h3>
  <h3>Game Version: <%= hero.version %> </h3>
  <a href="/dota-heroes/<%= hero._id %>/edit">Edit</a>
  <br>
  <a href="/dota-heroes">Return</a>
</body>
</html>